<div id="footer">
  <div class="container">
    <p class="centered">
      <a href="https://github.com/edepree"><i class="fa fa-github-square fa-5x"></i></a>
      <a href="https://twitter.com/eric_depree"><i class="fa fa-twitter-square fa-5x padded-icon"></i></a>
      <a href="https://www.linkedin.com/in/ericdepree"><i class="fa fa-linkedin-square fa-5x"></i></a>
    </p>
    <p class="centered footer-text">Theme By <a href="https://www.blacktie.co/">BlackTie.co</a> / <a href="https://creativecommons.org/licenses/by/3.0/legalcode">CC BY 3.0</a></p>
  </div>
</div>
